/*Custom Properties*/
:root {
  --primary-color: #4d52c5;
  --primary-alpha-color: rgba(77, 82, 197, 0.75);
  --second-color: #181b24;
  --second-alpha-color: rgba(24, 27, 36, 0.75);
  --third-color: #a7a7a7;
  --third-alpha-color: rgba(167, 167, 167, 0.75);
  --white-color: #ffffff;
  --gray-light-color: #f4f4f4;
  --gray-color: #d9d9d9;
  --gray-dark-color: #5a5a5a;
  --black-color: #000000;
  --link-color: #4da279;
  --title-color: #343434;
  --text-color: #232323;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Montserrat", sans-serif;
}

/*Reset*/
html {
  box-sizing: border-box; /*El tamaño de la caja empieza desde el borde y no desde el contenido*/
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden; /*Qué pasa con lo que desborda el contenedor? hidden=oculta. (Evita barra de desplazamiento, por ejemplo) */
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5 ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  /*Imágenes responsivas*/
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6; /*Espaciado entre las líneas*/
}

svg {
  width: 20px;
  height: 20px;
}

.svg-close {
  display: none;
}
